---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import getPostDatetime from "@/utils/getPostDatetime";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description } = data;
const pubDatetime = getPostDatetime(data);
const modDatetime = data.modDatetime ? new Date(data.modDatetime) : null;
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} timezone={data.timezone} />
  <p>{description}</p>
</li>
